@import url('https://fonts.googleapis.com/css2?family=Tinos&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  font-family: 'Tinos', serif;
}

.bg1{
  background: url(../assets/c1.jpeg);
  background-size: cover;
  width: 100vw;
}
.bg2{
  background: url(../assets/c2.jpeg);
  background-size: cover;
}
.bg3{
  background: url(../assets/c3.jpeg);
  background-size: cover;
}